<!DOCTYPE html>
<html>
<head>
  <title>Football Manager</title>
  <meta name="viewport" content="width=device-width, initial-scale=1"/>
  {% load static %}
  <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>
<header>
  <h1><a href="{% url 'league:match_list' %}">Football Manager</a></h1>
  {% if user.is_authenticated %}
    <p>Logged in as {{ user.username }}</p>
  {% endif %}
  <hr/>
</header>
<main>
  {% for message in messages %}
    <p>{{ message }}</p>
  {% endfor %}
  {% block content %}{% endblock %}
</main>
</body>
</html>
